@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap");

:root {
  --foreground-light: #f0f0f0;
  --foreground-rgb: #262626;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 300;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #262626;
  font-family: "Nunito Sans", sans-serif;
}

.layout-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.avatar-generator {
  max-width: 1200px;
  margin: 50px auto;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.palette {
  /* display: flex; */
  justify-content: space-between;
  margin-top: 20px;
}

.category {
  width: 100%;
  margin-bottom: 20px;
  display: none;
}

.category.active {
  display: flex;
}
.options {
  display: flex;
  flex-wrap: wrap;
}

.avatar-preview {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 400px;
  background: #b3aaff;
}

.avatar-preview img {
  margin: 0 5px;
  border-radius: 8px;
  position: absolute;
}

.avatar-preview img.hair,
.avatar-preview img.eyes,
.avatar-preview img.body,
.avatar-preview img.mouth,
.avatar-preview img.mustache,
.avatar-preview img.blush {
  z-index: 5;
}

.avatar-preview img.glasses {
  z-index: 6;
}

.avatar-preview img.face {
  z-index: 1;
}
.avatar-preview img.skinColor {
}

h1 {
  text-align: center;
  color: #333;
}

.category {
  margin-bottom: 20px;
}

.avatar-part {
  cursor: pointer;
  margin: 2px;
  transition: transform 0.2s;
}

.avatar-part:hover {
  transform: scale(1.1);
}

.avatar-part img {
  background-color: #ecf0f1;
}

.avatar-preview img {
  margin: 0 5px;
  border-radius: 8px;
}

.avatar-tabs {
  display: flex;
}

.avatar-tabs button {
  background-color: #fafafa;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: #8e8a86;
}

.avatar-tabs button.active {
  background-color: #ecf0f1;
  color: #978bff;
}

.tabs-container {
  flex-direction: column;
  width: 50%;
}
